body {
    --fsab-brown: #342216;
    --fsab-gold: #bb9b6a;
    --fsab-red: #f31548;
}

#top-navbar {
    background-color: var(--fsab-red);
    animation: fade-down 1000ms forwards;
    opacity: 0;
}

#fsab {
    font-family: 'Roboto Slab', serif;
    color: white;
}

@keyframes fade-down {
    from {
        opacity: 0;
        transform: translateY(-1.25em);
    }
    to {
        opacity: 1;
        transform: translateY(0em);
    }
}

.nav-item a {
    color: white;
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Open Sans', sans-serif;
    transition: 0.1s;
}

.nav-item:hover {
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-weight: 400;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

img {
   border-radius: 0.25em; 
}
.card-img-top {
    border-radius: 0px;
}

#about {
    background: linear-gradient(
        rgba(255, 0, 0, 0.45),
        rgba(255, 0, 0, 0.45)),
        url(images/brown-splash.jpg);
    color: white;
}

#about-text {
    animation: from-right 600ms forwards;
    opacity: 0;
    animation-delay: 600ms;
}

@keyframes from-right {
    from {
        opacity: 0;
        transform: translateX(1.25em);
    }
    to {
        opacity: 1;
        transform: translateX(0em);
    }
}

#about img {
    animation: from-left 800ms forwards;
    opacity: 0;
    animation-delay: 400ms;
}

@keyframes from-left {
    from {
        opacity: 0;
        transform: translateX(-1.25em);
    }
    to {
        opacity: 1;
        transform: translateX(0em);
    }
}

#achievements {
    margin-top: 2em;
}

#achievements a {
    background-color: var(--fsab-brown);
    border: var(--fsab-brown);
    outline: none;
    box-shadow: none;
    font-family: 'Lato', sans-serif;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 var(--fsab-red);
}

#achievements a:hover{
    background-color: var(--fsab-red);
    box-shadow: inset 300px 0 0 0 var(--fsab-red);
}

#button-one {
    white-space: normal;
}

#jos-images img {
    width: 12em;
    height: 8em;
    margin: 1em 2em 1em 2em;
    object-fit: scale-up;
}

#jos-images {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 7%;
    margin-right: 5%;
}

#connect form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#connect input, textarea, button {
    margin: 1em 20em 1em 20em;
    width: 15em;
    border-radius: 0.25em;
    border-style: dashed;
}

#connect textarea {
    height: 10em;
}

#connect button {
    border-style: none;
    background-color: var(--fsab-brown);
    color: white;
    font-family: 'Lato', sans-serif;
    transition: 0.3s;
}

#connect button:hover {
    background-color: var(--fsab-gold);
}

